* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

#header,
#footer {
    background-color: #008374;

}

.primeira {
    background-color: #23a092;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

.logo .nome {
    font: 700 40px 'Lucida', sans-serif;
    color: white;

}

.item {
    font: 500 25px 'lucida', sans-serif;
    color: white;
    margin-left: 50px;
}

.titulo {
    font: 600 32px 'Lucida', sans-serif;
    color: rgb(0, 0, 0);
}

.primeira .texto {
    font: 500 26px 'lucida', sans-serif;
    color: rgb(11, 1, 1);
}

.caixas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: -35px;

}
.section .conteiner .conteudo{
   margin:100px;
}

.caixas .imagem img {
    width: 60px;
    height: auto;
}

.caixa {
    border: 1px solid black;
    text-align: center;
    padding: 20px 25px;
    width: 200px;
    background-color: white;
}

.planos {
    display: flex;
    align-items: center;
   justify-content: center;
    width: 100%;
}

.plano {
    background-color: #edecec;
    text-align: center;
    margin: 0 40px;
    padding: 30px 20px;
}
.planos.plano{
    display: flex;
    justify-content: space-around;
}
.plano-tipo,
.preco,
.titulo {
    font: 700 25px 'lucida', sans-serif;
}

.beneficios {
    font: 500 18px 'lucida', sans-serif;

}

.linha-la {
    background-color: #f6a256;
    height: 20px;
    margin: 20px 0;
}

.linha-le {
    background-color: #f6a256;
    height: 20px;
    margin: 20px 0;
}

.conteudo .texto {
    font: 400 20px 'lucida', sans-serif;
    margin-bottom: 25px;
    text-align: justify;
}



#footer .menu {
    display: flex;
    flex-direction: column;
}

input,
button {
    padding: 5px;
    height: 25px;
    border-radius: 5px;
    font: 400 15px 'lucida', sans-serif;
}

input {
    width: 85%;
}
#footer{
    margin-top: 60px;
    height: 200px;
    display: flex;
}
#footer .container{
    display: flex;
    gap: 500px;
}
